* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background-color: #0033cc; /* Синий цвет, символизирующий Израиль */
    color: #ecf0f1;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 3em;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ffcc00; /* Золотой цвет для наведения */
}

.hero {
    position: relative; /* Для позиционирования наложения */
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
    z-index: 1; /* На переднем плане */
}

.hero-image {
    width: 80%; /* Ширина изображения */
    max-width: 600px; /* Максимальная ширина для больших экранов */
    height: auto; /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px; /* Закругленные углы */
    margin-top: 20px; /* Отступ сверху */
    position: relative; /* Для корректного отображения изображения над наложением */
    z-index: 2; /* На переднем плане */
}

h2 {
    font-family: 'Playfair Display', serif;
    color: #ffcc00; /* Золотой цвет для заголовков */
    margin-top: 0;
    position: relative; /* Для корректного отображения заголовка над наложением */
    z-index: 2; /* На переднем плане */
}

section {
    padding: 40px 20px;
    margin: 20px 0;
    border: 1px solid #bdc3c7;
    border-radius: 10px;
    background-color: #fff;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #bdc3c7;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #00509e; /* Темно-синий цвет для заголовков */
    color: #fff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #0033cc;
    color: #ecf0f1;
    position: relative;
    bottom: 0;
    width: 100%;
}